<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Wikiki</title>
</head>
<body>
    <% if (isAuthenticated) { %>
        <%- include('../components/menu-auth.ejs') %>
      <% } else { %>
        <%- include('../components/menu.ejs') %>
      <% } %>

    <%- include('../components/nav.ejs') %>

    <main>
        <div class="artigo-container">
            <h1><%= article.kb_title %></h1>          
            <img src="<%= article.kb_image %>" alt="<%= article.kb_title %>">
            <p class="texto-artigo"><%= article.kb_body %></p>
            <footer class="footer-article">
                <p><strong>Publicado em:</strong> <%= article.kb_published_date %></p>
                <p><strong>Por:</strong> <%= article.kb_author_email %></p>
                <p><strong>Curtidas:</strong> <%= article.kb_liked_count %></p>
                <a href="/curtir?kb_id=<%= article.kb_id %>">Like</a>
            </footer>
        </div>           
    </main>
</body>
</html>